/* Q1: Some of the facilities charge a fee to members, but some do not. Write a SQL query to produce a list of the names of the facilities that do. */

SELECT name, membercost
FROM Facilities
WHERE membercost != 0

#/* Q2: How many facilities do not charge a fee to members? */

SELECT count(membercost)
FROM Facilities
WHERE membercost != 0

/* Q3: Write an SQL query to show a list of facilities that charge a fee to members,
where the fee is less than 20% of the facility's monthly maintenance cost.
Return the facid, facility name, member cost, and monthly maintenance of the
facilities in question. */

SELECT facid, name, membercost, monthlymaintenance
FROM Facilities
WHERE membercost != 0 AND membercost < (.2 * monthlymaintenance)

/* Q4: Write an SQL query to retrieve the details of facilities with ID 1 and 5.
Try writing the query without using the OR operator. */


SELECT *
FROM Facilities
WHERE facid in (1, 5)

/* Q5: Produce a list of facilities, with each labelled as
'cheap' or 'expensive', depending on if their monthly maintenance cost is
more than $100. Return the name and monthly maintenance of the facilities
in question. */

SELECT name, monthlymaintenance,
CASE
WHEN monthlymaintenance > 100 THEN 'Expensive'
WHEN monthlymaintenance <= 100 THEN 'Cheap'
ELSE 'hi'
END AS label
FROM Facilities

/* Q6: You'd like to get the first and last name of the last member(s)
who signed up. Try not to use the LIMIT clause for your solution. */

SELECT firstname, surname, joindate
FROM Members
WHERE joindate IN
(SELECT max(joindate)
FROM Members)

/* Q7: Produce a list of all members who have used a tennis court.
Include in your output the name of the court, and the name of the member
formatted as a single column. Ensure no duplicate data, and order by
the member name. */

SELECT DISTINCT(CONCAT(Members.firstname, " ", Members.surname)) AS membername, Facilities.name
FROM Members
INNER JOIN Bookings
ON Members.memid = Bookings.memid
INNER JOIN Facilities
ON Bookings.facid = Facilities.facid
WHERE Bookings.facid in (0, 1)
ORDER BY membername

/* Q8: Produce a list of bookings on the day of 2012-09-14 which
will cost the member (or guest) more than $30. Remember that guests have
different costs to members (the listed costs are per half-hour 'slot'), and
the guest user's ID is always 0. Include in your output the name of the
facility, the name of the member formatted as a single column, and the cost.
Order by descending cost, and do not use any subqueries. */


Solution:
SELECT Facilities.name, CONCAT(Members.firstname, " ", Members.surname) AS membername,
CASE
WHEN Bookings.memid > 0 then guestcost
ELSE membercost
END AS booking_cost
FROM Bookings
INNER JOIN
Facilities ON Bookings.facid = Facilities.facid
INNER JOIN
Members ON Members.memid = Bookings.memid
WHERE Bookings.starttime LIKE '2012-09-14%'
ORDER BY booking_cost DESC

Note: this isn't entirely correct. I have not shown only the bookings that are greater than $30.  Couldn't figure out how to do this

when I try to modify the WHERE statement to say the below, I get a #1054 - Unknown column 'booking_cost' in "where clause'

/* Q9: This time, produce the same result as in Q8, but using a subquery. */

SELECT Facilities.name, CONCAT(Members.firstname, " ", Members.surname) AS membername, booking_cost
FROM Bookings
INNER JOIN
Facilities ON Bookings.facid = Facilities.facid
INNER JOIN
Members ON Members.memid = Bookings.memid
WHERE Bookings.bookid IN (SELECT Bookings.bookid,
CASE
WHEN Bookings.memid > 0 then guestcost
ELSE membercost
END AS booking_cost
FROM Bookings
INNER JOIN
Facilities ON Bookings.facid = Facilities.facid
WHERE Bookings.starttime LIKE '2012-09-14%')

Note: this is also not completely correct, for the same reason as above (unable to use the booking_cost column that I create)

/* PART 2: SQLite

Export the country club data from PHPMyAdmin, and connect to a local SQLite instance from Jupyter notebook 
for the following questions.

/* Q10: Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members! */

/* Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order */

/* Q12: Find the facilities with their usage by member, but not guests */

/* Q13: Find the facilities usage by month, but not guests */